<%= render "layouts/navbar" %>
<div class="container mt-5">
  <section id="campaign" class="py-5">
    <h2 class="text-center">All campaigns</h2>
    <div class="row">
      <% @campaigns.each do |campaign| %>
      <div class="col-9 col-sm-6 col-lg-4 mx-auto my-4">
        <div class="card">
          <%= link_to image_tag(campaign.photo, class: "card-img-top", alt: "picture"), campaign %>
          <div class="card-body">
            <div class="card-title">
              <h3 class="text-capitalize"><%= campaign.title %></h3>
              <h6>from <%= campaign.end_date.to_date.to_formatted_s :long_ordinal %> to the <%= campaign.end_date.to_date.to_formatted_s :long_ordinal %></h6>
            </div>
            <h4 class="primary-color text-capitalize"><%= truncate(campaign.content, :length => 50) %></h4>
          </div>
          <div class="card-footer team-icons d-flex justify-content-between">
            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
            <%= link_to "Read More", campaign, class: "see-more-link h4" %>
            
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>






