<nav id="landing-page">

	<!-- Navigation -->
		<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
			<h1><%= link_to "Logo image", root_path, class: "navbar-brand" %></h1>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		    <span class="navbar-toggler-icon"></span>
		  </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
		  	<ul class="navbar-nav ml-auto">
		  		<li class="nav-item">
		  			<%= link_to "Home", root_path, class: "nav-link" %>
		  		</li>
		  		<li class="nav-item">
		  			<%= link_to "Campaigns", campaigns_path, class: "nav-link" %>
		  		</li>
		  		<li class="nav-item">
		  			<%= link_to "About us", aboutpage_path, class: "nav-link" %>
		  		</li>
		  		<li class="nav-item">
		  			<%= link_to "Contact", new_message_path, class: "nav-link" %>
		  		</li>
		  	</ul>
		  </div>
		</div>
	<!-- End Navigation-->

	<!-- Start landing page section-->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner" style="height: 50rem">

            </div>
        </div>
    </div>

    <div class="caption text-center">
        <h1 class="">Achieve Your Dreams Foundatioin</h1>
        <h4>Making it work for good<span>...........</span></h4>
        <a class="btn btn-outline-light btn-lg mt-5" href="#courses">Get Started</a>
    </div>
	<!-- End Landing page section-->
</nav>